.frontpage{
    display: grid;
    background-color: #2c3333;
    color: #e7f6f2;
font-family: Arial, Helvetica, sans-serif;
margin-left: 5%;
margin-right: 5%;
justify-content: center;
}

.frontpage p{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.frontpage h1{
    text-align: center;
}

#backtofront{
    margin: 0 auto;
    padding: 3px;
    border-radius: 5px;
    border-color: #a5c9ca;
    background-color: #395b64;
    color: #e7f6f2;
    font-family: Arial, Helvetica, sans-serif;
}

.frontpage button{
    background-color: #395b64;
    color: #e7f6f2;
    border-width: 1px;
    border-radius: 10px;
    font-size: large;
    border-color: #a5c9ca;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    margin: 0 20px;
    padding: 6px;
}
.frontpage #buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}
.frontpage #checkboxes{
    margin-top: 30px;
    margin-bottom: 30px;

}
.viewoptions button{
    background-color: #395b64;
    color: #e7f6f2;
    border-width: 1px;
    border-radius: 10px;
    font-size: large;
    border-color: #a5c9ca;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    margin: 0 20px;
    padding: 6px;
}
.viewoptions{
    display: grid;
    background-color: #2c3333;
    color: #e7f6f2;
font-family: Arial, Helvetica, sans-serif;
margin-left: 5%;
margin-right: 5%;
justify-content: center;
}
.viewoptions #checkboxes{
    margin-top: 6px;
    margin-bottom: 6px;
}

#switchlabels 
{
    margin-left: 6px;
   font-family: Arial, Helvetica, sans-serif;
    color: #e7f6f2;

}

.linkdialog {
    display: grid;
    background-color: #2c3333;
    color: #e7f6f2;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
      }
      
    .linkdialog button {
    background-color: #395b64;
    color: #e7f6f2;
    border-width: 1px;
    border-radius: 10px;
    font-size: large;
    border-color: #a5c9ca;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    margin: 0 20px;
    padding: 6px;
      }
      
    .linkdialog #alert-dialog-description {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
      }

.viewoptions input {
    margin-top: 8px;
    margin-bottom: 10px;
}
.viewoptions #buttongroup{
    margin-top: 30px;
    margin-bottom: 30px;

}

.horisontalRender{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
.column{
    width: 45%;
   margin: 6px;
   padding: 20px 0;
}
@media screen and (max-width: 1450px) {
    .column {
      width: 100%;
    }
  }

  .centered{
    
  }
  